/* VARIABLE - COLORS */
/* VARIABLE - DURACTION + TIMING-FUNCTION */
/* FONTS */
/* RESET */
h1, h2, h3, h4, h5, h6, p {
  margin: 0 auto;
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* GENERAL STYLES */
body {
  font-size: 14px;
  font-family: "Roboto", san-serif;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #fff;
}

button {
  cursor: pointer;
  font-family: inherit;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: normal;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  color: #212121;
}

.button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color #000;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color #000;
}

.button:hover, .button:focus {
  background-color: #188ce8;
  border-color: #000;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 500ms linear, visibility 500ms linear;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

/* LOGO */
.logo {
  font-weight: 700;
  font-family: "Raleway", san-serif;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}

.logo__common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2196f3;
}

.logo__header {
  color: #000;
}

.logo__footer {
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.nav--margined {
  margin-right: auto;
}

.nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__item {
  position: relative;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border: 1px solid #2196f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

/* ANIMATION */
.menu__btn {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu__btn.is-open {
  position: fixed;
  top: 22px;
  right: 15px;
  z-index: 10;
}

.menu__icon-open {
  opacity: 1;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__btn:hover .menu__icon-open,
.menu__btn:focus .menu__icon-open {
  fill: #2196f3;
}

.menu__btn.is-open .menu__icon-open {
  opacity: 0;
}

.menu__icon-close {
  opacity: 0;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__btn:hover .menu__icon-close,
.menu__btn:focus .menu__icon-close {
  fill: #2196f3;
}

.menu__btn.is-open .menu__icon-close {
  opacity: 1;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__list {
  margin-bottom: auto;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link--current {
  color: #2196f3;
}

.mobile-menu__contacts-list {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__contacts-list .mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-list .mobile-menu__item:first-child .mobile-menu__link {
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mobile-menu__contacts-list .mobile-menu__item:first-child .mobile-menu__link {
    font-size: 34px;
  }
}

.mobile-menu__contacts-list .mobile-menu__link {
  color: currentColor;
}

.mobile-menu__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu__socials-list .mobile-menu__link {
  color: currentColor;
}

.mobile-menu__socials-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

/* CONTACTS */
.contacts__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: inline-block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacts__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:not(:last-child) {
  margin-right: 30px;
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu__btn {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}

.menu__icon {
  position: absolute;
  top: 1px;
  left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.menu__btn .menu__icon-close {
  display: none;
}

.menu__btn.is-open .menu__icon-close {
  display: block;
}

.menu__btn.is-open .menu__icon {
  display: none;
}

/* HERO */
.hero {
  max-width: 100vw;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero-mob-1x.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-mob-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 480px) {
  .hero {
    width: 480px;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/hero-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    background-image: url(../../images/hero-tab-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/hero-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../../images/hero-desk-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/hero-desk-2x.jpg);
  }
}

.hero__title {
  max-width: 360px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* MODAL */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  padding: 40px 40px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

@media screen and (min-width: 450px) {
  .modal {
    max-width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5) rotate(90deg);
          transform: translate(-50%, -50%) scale(1.5) rotate(90deg);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: auto;
  border-radius: 15px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18px;
  height: 18px;
  fill: #000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover .modal__icon,
.modal__btn:focus .modal__icon {
  fill: #2196f3;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

/* MODAL FORM */
.modal-form {
  position: relative;
  width: 100%;
}

.modal-form__field {
  position: relative;
  height: 58px;
  margin-bottom: 10px;
}

.modal-form__comments {
  position: relative;
  width: 100%;
  height: 138px;
  margin-bottom: 20px;
}

.modal-form__policy {
  position: relative;
  width: 100%;
  height: 14px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .modal-form__policy {
    height: 24px;
  }
}

.modal-form__label {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover, .modal-form__input:focus {
  border-color: #2196f3;
}

.modal-form__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon:hover + .modal-form-icon,
.modal-form__icon:focus + .modal-form-icon {
  fill: #2196f3;
}

.modal-form__input-comments {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form__input-comments::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input-comments:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input-comments::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input-comments::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__label-policy {
  padding-left: 20px;
  font-size: 12px;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .modal-form__label-policy {
    padding-left: 36px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__link {
  font-size: 12px;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal-form__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__submit-btn {
  display: block;
  margin: 0 auto;
}

/* CUSTOM CHECKBOX */
.custom-checkbox {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-color: #fff;
}

.modal-form__input-policy:hover + .custom-checkbox,
.modal-form__input-policy:focus + .custom-checkbox {
  border-color: #2196f3;
}

.modal-form__input-policy:checked + .custom-checkbox {
  background-color: #2196f3;
}

.modal-form__input-policy:not(:hover) + .custom-checkbox,
.modal-form__input-policy:not(:focus) + .custom-checkbox .modal-form__input-policy:not(:checked) + .custom-checkbox {
  border-color: #212121;
}

@media screen and (min-width: 1200px) {
  .custom-checkbox {
    top: 3px;
    left: 12px;
  }
}

.custom-checkbox__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 11px;
  height: 8px;
}

/* FEATURES */
.features__list {
  margin: -15px;
}

@media screen and (min-width: 480px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.features__item {
  margin: 15px;
}

@media screen and (min-width: 480px) {
  .features__item {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    max-width: 270px;
  }
}

.features__icon-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__title {
  width: 100%;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 450px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  line-height: 1.71;
  text-align: left;
}

/* WORKS */
.works {
  display: none;
}

@media screen and (min-width: 1200px) {
  .works {
    display: block;
    padding-top: 0;
  }
}

.works__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__item {
  display: block;
  width: 370px;
  height: 294px;
}

.works__item:not(:last-child) {
  margin-right: 30px;
}

.works__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.works__text {
  position: relative;
  bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: rgba(47, 48, 58, 0.8);
}

/* TEAM */
.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team__list {
  text-align: center;
  margin: -15px;
}

@media screen and (min-width: 480px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team__item {
  max-width: 100vw;
  margin: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px) {
  .team__item {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    max-width: 270px;
  }
}

.team__image {
  display: block;
  width: 100%;
}

.team__colleague {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__person {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.team__functional {
  margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
}

/* SOCIAL */
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.social__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #fff;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  border-radius: 50%;
}

.social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #fff;
  background-color: #2196f3;
}

/* CLIENTS */
.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  width: 100%;
  height: 92px;
  margin: 15px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .clients__item {
    max-width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    max-width: 170px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

/* FILTER */
.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-right: -8px;
  margin-bottom: 40px;
  margin-left: -8px;
}

@media screen and (min-width: 768px) {
  .filter__list {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
  }
}

.filter__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter__btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  border: 1px solid #f5f4fa;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadoW 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadoW 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover, .filter__btn:focus {
  color: #fff;
  background-color: #188ce8;
  border: 1px solid #000;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* PROJECTS */
.project__list {
  margin: -15px;
}

@media screen and (min-width: 480px) {
  .project__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.project__item {
  max-width: 320px;
  margin: 15px;
  border: 1px solid #eee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item:hover, .project__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 480px) {
  .project__item {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .project__item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .project__item {
    max-width: 370px;
  }
}

.project__link {
  text-decoration: none;
}

.project__portfolio {
  position: relative;
  overflow: hidden;
}

.project__image {
  display: block;
  width: 100%;
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover .project__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  background: rgba(33, 150, 243, 0.9);
}

.project__info {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__text {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

/* FOOTER */
.footer {
  height: 603px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 480px) {
  .footer {
    height: 603px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    height: 463px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
  }
}

.footer-container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.footer--margined {
  margin-right: auto;
  margin-left: auto;
}

.footer__logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.footer__contacts {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    width: 232px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
    text-align: left;
  }
}

.footer__text {
  display: block;
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .footer__text {
    text-align: left;
  }
}

.footer__social {
  margin-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .footer__social {
    margin-bottom: 60px;
  }
}

.footer__social-item {
  background: rgba(255, 255, 255, 0.1);
}

.footer__social-icon {
  fill: #fff;
}

.address {
  line-height: 1.71;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: #fff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__link-contact {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link-contact:hover, .address__link-contact:focus {
  color: #2196f3;
}

.subscribe {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    width: 570px;
  }
}

.subscribe--margined {
  margin-left: auto;
}

.subscribe__text {
  display: block;
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .subscribe__text {
    text-align: left;
  }
}

.subscribe__form {
  position: relative;
}

@media screen and (min-width: 768px) {
  .subscribe__form {
    display: block;
    width: 450px;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    margin-left: auto;
  }
}

.subscribe__input {
  width: 100%;
  height: 48px;
  padding: 15px 16px;
  margin-bottom: 20px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:hover, .subscribe__input:focus-within {
  border-color: #2196f3;
}

@media screen and (min-width: 480px) {
  .subscribe__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe__btn {
  padding-top: 10px;
  padding-right: 26px;
  padding-bottom: 10px;
  padding-left: 26px;
  text-align: left;
  position: relative;
}

.subscribe__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
/*# sourceMappingURL=main.css.map */