.button {
    width: 200px;
    height: 50px;

    font-weight: $title-font-weight;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $white-color;

    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0,0,0,.15);
    border-radius: 4px;
    border-color: $accent-color;

    transition: background-color $transition, border-color $black-color;

    &:hover,
    &:focus {
        background-color: $accent-btn-color;
        border-color: $black-color;
    }
}