/* CONTACTS */

.contacts__list {
    display: none;

     @media screen and (min-width: 768px) {
        display: inline-block;
        margin-left: auto;  
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.contacts__item {
    @media screen and (min-width: 768px) {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: 1200px) {
        display: flex;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.contacts__link {
    display: flex;
    align-items: center;

    color: $sonic-silver-color;
    font-weight: 500;
    font-size: 12px;
    line-height: $primary-line-height;
    letter-spacing: 0.02em;

    transition: color $transition;

    &:not(:last-child) {
        margin-right: 30px;
    }

    &:hover,
    &:focus {
        color: $accent-color;
    }

    @media screen and (min-width: 1200px) {
        font-size: $primary-font-size;
    }
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}