/* FOOTER */

.footer {
    height: 603px;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $footer-bg-color;

    @media screen and (min-width: 480px) {
        height: 603px;
    }

    @media screen and (min-width: 768px) {
        height: 463px;
    }

    @media screen and (min-width: 1200px) {
        height: 252px;
    }
}

.footer-container {
    text-align: center;

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.footer--margined {
    margin-right: auto;
    margin-left: auto;
}

.footer__logo {
    justify-content: center;
    margin-bottom: 20px;
    @media screen and (min-width:1200px) {
        justify-content: left;
    }
}

.footer__contacts {
    margin-bottom: 60px;

    @media screen and (min-width:768px) {
        width: 232px;
    }
    
    @media screen and (min-width:1200px) {
        margin-right: 70px;
        text-align: left;
    }
}

.footer__text {
    display: block;
    margin-top: 12px;
    margin-bottom: 20px;
    
    font-weight: $title-font-weight;
    line-height: 1.14;
    text-transform: uppercase;
    color: $white-color;

    @media screen and (min-width:1200px) {
        text-align: left;
    }
}

.footer__social {
    margin-bottom: 60px; 
    @media screen and (min-width: 480px) {
        margin-bottom: 60px;        
    }
}

.footer__social-item {
    background: rgba(255,255,255,.1);
}

.footer__social-icon {
   fill: $white-color;

}