/* LOGO */

.logo {
    font-weight: $title-font-weight;
    font-family: $logo-font-family;
    font-size: 26px;
    line-height: $primary-line-height;
    text-decoration: none;

    &__common {
        display: flex;
        color: $accent-color;
    }

    &__header {
        color: $black-color;
    }

    &__footer {
        color: $white-color;
    }
}


