// MENU BUTTON

.menu__btn {
    position: relative;
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;
    z-index: 10;
}

.modal__btn:hover,
// .modal__btn.is-open:focus .menu__icon-open,
.modal__btn:hover
// .modal__btn.is-open:focus .menu__icon-close 
{
    border: 2px solid $accent-color;
}

.menu__icon-open {
    opacity: 1;

    fill: currentColor;

    transition: fill $transition;

    .modal__btn:hover &,
    .modal__btn:focus & {
        fill: $accent-color;
    }
}
.menu__btn.is-open .menu__icon-open {
    opacity: 0;
}

.menu__icon-close {
    opacity: 0;
}

.menu__btn.is-open .menu__icon-close {
    opacity: 1;
}

// MOBILE MENU

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;  
    padding: 48px 40px;

    background-color: $white-color;

    transform: translateX(100%);
    transition: transform $modal-window;
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu__list {
    margin-bottom: auto;

    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.02em;

    color: $light-black-color;
}

.mobile-menu__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mobile-menu__link--current {
    color: $accent-color;
}

// MOBILE CONTACTS

.mobile-menu__contacts-list {
    margin-bottom: 64px;

    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02em;

    color: $sonic-silver-color;

    & .mobile-menu__item {
        &:not(:last-child) {
            margin-bottom: 32px;
        }

        &:first-child {
            .mobile-menu__link {
                color: $accent-color;

                @media screen and (min-width: 480px) {
                    font-size: 34px;
                }
            }
        }
    }

    .mobile-menu__link {
        color: currentColor;
    }
}

// MOBILE SOCIAL WEBS

.mobile-menu__socials-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: $accent-color;

    .mobile-menu__link {
        color: currentColor;
    }
}

.mobile-menu__socials-item {
    &:not(:last-child) {
        padding-right: 10px;

        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}