/* PROJECTS */

.project__list {
    margin: -15px;

    @media screen and (min-width: 480px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.project__item {

    width: 100%;
    margin: 15px;

    border: 1px solid #eee;

    transition: box-shadow $transition;

    &:hover, 
    &:focus {
        box-shadow: 0px 1px 1px rgba(0,0,0,.12), 0px 4px 4px rgba(0,0,0,.06), 1px 4px 6px rgba(0,0,0,.16);
    }

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    
    @media screen and (min-width: 1200px) {
        width: 370px;
    }
}

.project__link {
    text-decoration: none;
}

.project__portfolio {
    position: relative;

    overflow: hidden;
}

.project__image {
    display: block;
    width: 100%;
    // height: 294px;
}

.project__overlay {
    position: absolute;
    top: 0;
    left: 0;

    @include centeredFlex;
    overflow: auto;
    width: 100%;
    height: 100%;
    transform: translateY(100%);

    transition: transform $transition;

    .project__link:hover & {
         transform: translateY(0);
    }
}

.project__description {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $white-color;

    background: rgba(33,150,243,.9);
}

.project__info {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}

.project__title {
    margin-bottom: 4px;

    font-weight: $title-font-weight;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project__text {
    font-size: 16px;
    line-height: 1.88;
    color: $section-title-color;
}