/* GENERAL STYLES */

body {
    font-size: $primary-font-size;
    font-family: $primary-font-family;
    letter-spacing: 0.03em;
    color: $sonic-silver-color;

    background-color: $white-color;
}

button {
    cursor: pointer;

    font-family: inherit;
}

address {
    font-style: normal;
}

.no-scroll {
    overflow: hidden;
}


