 /* VARIABLE - COLORS */
 
$white-color: #fff;
$whisper-color: #f5f4fa;
$sonic-silver-color: #757575;
$black-color: #000;
$light-black-color: #212121;
$accent-color: #2196f3;
$accent-btn-color: #188ce8;
$footer-bg-color: #2f303a;
$footer-address-color: rgba(255,255,255,.6);
$section-title-color: #757575;
$icon-color: #afb1b8;

 /* VARIABLE - DURACTION + TIMING-FUNCTION */
 
$transition: 250ms cubic-bezier(.4,0,.2,1);
$modal-window: 500ms linear;

/* FONTS */
$primary-font-family: 'Roboto', san-serif;
$logo-font-family: 'Raleway', san-serif;
$primary-font-size: 14px;
$title-font-weight:700;
$primary-line-height:1.17;